<div class="database-div" ng-controller="database-controller as $ctrl" ng-init="$ctrl.getUsers()">
    <div class="database-container">
        <h1>Listagem dos funcionários cadastrados no Banco de Dados</h1>
        <ul>
            <li ng-repeat="user in $ctrl.users">
                <div>
                    <h4>Funcionário:</h4>
                    <p>{{user.name}}</p>
                    <h4>Número de Telephone:</h4>
                    <p>{{user.phoneNumber}}</p>
                    <h4>Idade:</h4>
                    <p>{{user.age + ' anos'}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>